##创建网站接口
fastapi
##链接大模型
langchain
##启动FAStAPI
uvicorn
##让langchain调用兼容OpenAI格式的deepseek
langchain-openai

langchain-deepseek
##检查数据格式是否标准
pydantic
##读取.env里的 APIKEY和项目配置
pydantic-settings

##操作房源数据库
sqlalchemy
##异步操作SQlite数据库
aiosqlite

##读取.env文件
python-dotenv

##异步发送请求
httpx
##请求失败后重试
tenacity
##项目测试代码
pytest
##测试异步码
pytest_asyncio

